<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{15}).%magenta(%method) : %msg%n
            </pattern>
        </encoder>
    </appender>
    <logger name="com.missthee" level="debug" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
<!--    <root>-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->
</configuration>