<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--autowire自动装配，
        byName使用bean的name或id，与类中set方法中名称匹配（即：不是按private SpellChecker spellChecker;匹配，是按public void setSpellChecker()匹配）
        byType使用bean的class匹配，与类中set方法中参数类型匹配。
        匹配结果不是1个时报错-->
    <bean id="textEditor" class="com.example.demo3autowired.TextEditor" autowire="byName">
        <property name="note" value="note string"/>
    </bean>
    <!--autowire自动装配，constructor先使用byName匹配，没匹配到再使用byType匹配-->
    <bean id="textEditor1" class="com.example.demo3autowired.TextEditor1" autowire="constructor">
        <constructor-arg name="note" value="note string1"/>
    </bean>

    <bean id="spellChecker" class="com.example.demo3autowired.SpellChecker">
        <property name="checkerName" value="checker"/>
    </bean>
    <bean id="spellChecker2" class="com.example.demo3autowired.SpellChecker">
        <property name="checkerName" value="checker2"/>
    </bean>
</beans>
