<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--完整dao类类名-->
<mapper namespace="com.dao.DeptDao">
	<!--id：dao类中对应方法名；-->
	<select id="findById" resultType="com.entity.Dept" parameterType="int">
		select id,name,db_source from dept where id=#{id};
	</select>
	<select id="findAll" resultType="com.entity.Dept">
		select id,name,db_source from dept;
	</select>
	<insert id="addDept" parameterType="com.entity.Dept">
		INSERT INTO dept(name) VALUES(#{name});
	</insert>
</mapper>
 

